@section Scripts {
    <script type="text/javascript" src="~/Scripts/Chatbot.js"></script>
}

   
<div class="chat-area">
    <div class="form-group">
        <textarea class="dialog form-control" data-bind="text: model.dialogToShow" readonly></textarea>
    </div>
    <div class="form-group">
        <input 
            type="text" 
            class="user-input form-control" 
            data-bind="value: model.userLine" 
            maxlength="255"
            placeholder="Введите сообщение.."/>
        <button class="btn btn-primary" data-bind="click: send">Отправить</button>
    </div>
</div>